/* Reset spacing globally */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body layout using grid */
body {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-areas:
    "header"
    "main-layout"
    "footer";
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

/* Header */
header {
  grid-area: header;
  background-color: #333;
  color: white;
  padding: 0;

  
}

header h1 {
   padding: 2rem;
}

/* Nav inside header using flex */
nav {
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 2rem;
  margin-top: 4rem;
  font-size: 1.5rem;
  
}

nav a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  
}

/* Main layout */
.main-layout {
  grid-area: main-layout;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

/* Main content */
main {
  background-color: #d3d3d3;
  padding: 1rem;
  font-size: 1.5rem;
}

/* Aside content */
aside {
  background-color: white;
  padding: 1rem;
  font-size: 1.5rem;
}

/* Footer */
footer {
  grid-area: footer;
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  padding-bottom: 8rem;
  font-size: 1.5rem;
}
